<ul class="list-group">
        <button class="btn btn-primary" (click)="actualisation()">Actualiser</button>
    <li *ngFor="let post of posts">
        <article  [ngClass]="{'cadrepost': true,
        'isKO': post.loveIts <= -5,
        'isOK': post.loveIts >= 5}" class="cadrepost">
            <div id="entete">
                <h3>{{ post.title }} ({{post.loveIts}})</h3>
                <p>{{post.created_at | date: "dd MMMM yy - HH:mm:ss"}} par {{ post.nom }}</p>
            </div>
            <div id="content">
                <p>{{post.content}}</p>
            </div>
            <div class="block-align">
                <div>
                    <button class="btn btn-success"  (click)="getLike([post.id])">j'aime</button>
                    <button class="btn btn-danger" (click)="getNoLike([post.id])">beurkk</button> 
                </div>
                <div>
                    <button class="btn btn-primary" *ngIf="post.loveIts <= -5" (click)="deletePost(post.id)">Effacer ce post</button>
                </div>
            </div>
        </article>
    </li>
</ul>

